@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega estas líneas a tu archivo CSS global */
/* Definimos la animación para deslizamiento de abajo hacia arriba */
/* Animación de deslizamiento de abajo hacia arriba */
/* Animación de deslizamiento de abajo hacia arriba con opacidad */
/* Animación para que el texto suba desde abajo y se haga visible */
@keyframes slide-up {
    0% {
      transform: translateY(240px); /* Empieza más abajo, fuera de la vista */
      opacity: 0; /* Comienza invisible */
    }
    100% {
      transform: translateY(0); /* Llega a su posición original */
      opacity: 1; /* Se hace visible */
    }
  }
  
  /* Clase que aplica la animación */
  .slide-up {
    animation: slide-up 0.6s ease-out forwards; /* Duración de 0.8s y efecto de suavizado */
  }
  
  /* Asegurarse de que el contenido no se vea al principio */
  .hiddenn {
    opacity: 0;
    transform: translateY(240px); /* Inicia fuera de la vista */
  }